body{
    background: #f4faff;
    margin: 0;
}

body h1{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

#app{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 4%;
    /*background-color: hsl(276, 100%, 83%)*/
}

.note{
    height: 10.5rem;
    width: 10.5rem;
    box-sizing: border-box;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    resize: none;
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    color: black;

}

.add-note{
    height: 10.5rem;
    width: 10.5rem;
    border: none;
    outline: none;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

h1{
    text-align: center;
    font-family: sans-serif;
    color: black;
}
